

<div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Bootstrap Navbar Menu Template</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/mentor-profile']">profile</a></li>
            
            <li><a [routerLink]="['/mentor-trainings']">Trainings </a></li>
            <li><a [routerLink]="['/mentor-payments']">Payment History</a></li>
            <li><a [routerLink]="['/']">Logout</a></li>
          
        </ul>
      </div>
    </div>
  </nav>
    </div> 
    <div class="limiter">
      

 
 
    <div >
        <div class="container-table100">
          <div class="wrap-table100">
              <div class="container-fluid" >
                  <div class="row" style="background:#c4d3f6;">
                  <div class="col-lg">
                      <div class="demo-content" ><h1>Profile</h1></div>
                  </div>
                 
              </div>
          <div class="row">
                  <div class="col-lg-6">
                      <div class="demo-content" ><label for="fullName">Full Name</label></div>
                  </div>
                 <div class="col-lg-6">
                      <div class="demo-content" ><label for="fullName">akash chandra</label></div>
                  </div>
              </div>
        <div class="row">
                 <div class="col-lg-6">
                      <div class="demo-content" ><label for="fullName">email</label></div>
                  </div>
                 <div class="col-lg-6">
                      <div class="demo-content" ><label for="fullName">akash@gmail.com</label></div>
                  </div>
              </div>
          <div class="row">
                  <div class="col-lg-6">
                      <div class="demo-content" ><label for="phone">Phone Number</label></div>
                  </div>
                   <div class="col-lg-6">
                      <div class="demo-content" ><label for="fullName">1234567890</label></div>
                  </div>
              </div>
            <div class="row">
                  <div class="col-lg-6">
                      <div class="demo-content" ><label for="education">Skills</label></div>
                  </div>
                   <div class="col-lg-6">
                      <div class="demo-content" ><label for="fullName">html,css,spring</label></div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <div class="demo-content" ><label for="education">Experience</label></div>
                  </div>
                   <div class="col-lg-6">
                      <div class="demo-content" ><label for="fullName">10 years</label></div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <div class="demo-content" ><label for="education">Average Rating</label></div>
                  </div>
                   <div class="col-lg-6">
                      <div class="demo-content" ><label for="fullName">3.5</label></div>
                  </div>
              </div>
      
          </div>
              <div class="table">
    
                <div class="row header"  style="background:#6c7ae0;">
                  <div class="cell" style="background:#6c7ae0;">
                    Training 
                  </div>
                  <div class="cell" style="background:#6c7ae0;">
                    Mentor 
                  </div>
    
    
                  <div class="cell" style="background:#6c7ae0;">
                    Rating
                  </div>
    
                </div>
    
                <div class="row">
                  <div class="cell" data-title="Training ">
                    spring
                  </div>
                  <div class="cell" data-title="Mentor ">
                    iron man
                  </div>
    
              
                  <div class="cell" data-title="Progress">
                    <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  </div></div>
                  <div class="row">
                  <div class="cell" data-title="Training ">
                    web development
                  </div>
                  <div class="cell" data-title="Mentor ">
                    spiderman
                  </div>
    
              
                  <div class="cell" data-title="Progress">
                    <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  </div></div>
               
    
              
                </div>
              </div>
              </div>
          </div>
  

</div>
