

<div>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Bootstrap Navbar Menu Template</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/mentor-profile']">profile</a></li>
            
            <li><a [routerLink]="['/mentor-trainings']">Trainings </a></li>
            <li><a [routerLink]="['/mentor-payments']">Payment History</a></li>
            <li><a [routerLink]="['/']">Logout</a></li>
            
          </ul>
        </div>
      </div>
    </nav>
      </div> 
      <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100">
                <div class="table">
      
                    <div class="row header">
                      <div class="cell">
                        Training 
                      </div>
                      <div class="cell">
                        User 
                      </div>
                      
                      <div class="cell">
                        Progress
                      </div>
                      <div class="cell">
                        Total Payment done
                      </div>
                     
                    </div>
        
                    <div class="row">
                      <div class="cell" data-title="Training ">
                        Java
                      </div>
                      <div class="cell" data-title="Mentor ">
                        John
                      </div>
                     
                      <div class="cell" data-title="Progress">
                      25%
                      </div>
                      
                      <div class="cell" data-title="Progress">
                          1000
                        </div>
                        
                    </div>
        
                    <div class="row">
                        <div class="cell" data-title="Training ">
                          Java
                        </div>
                        <div class="cell" data-title="Mentor ">
                          watson
                        </div>
                       
                        <div class="cell" data-title="Progress">
                          100%
                        </div>
                        
                        <div class="cell" data-title="Progress">
                            1000
                          </div>
                          
                      </div>
                      <div class="row">
                          <div class="cell" data-title="Training ">
                            html
                          </div>
                          <div class="cell" data-title="Mentor ">
                            nik
                          </div>
                         
                          <div class="cell" data-title="Progress">
                            100%
                          </div>
                          
                          <div class="cell" data-title="Progress">
                              500
                            </div>
                            
                        </div>
        
                  
                    </div>


                
      
                </div>
            </div>
          </div>
       
      
      
      