

<div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Bootstrap Navbar Menu Template</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/user-current-trainings']">Current Trainings</a></li>
          <li><a [routerLink]="['/user-completed-trainings']">Training History</a></li>
          
        </ul>
      </div>
    </div>
  </nav>
  <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Training 
							</div>
							<div class="cell">
								Mentor 
							</div>
							<div class="cell">
								Status
							</div>
							<div class="cell">
								Progress
              </div>
              <div class="cell">
								Edit Progress
              </div>
              <div class="cell">
								Rating
              </div>
              <div class="cell">
								Edit Rating
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Training ">
								Java
							</div>
							<div class="cell" data-title="Mentor ">
								John
							</div>
							<div class="cell" data-title="Status">
								Proposal Accepted
							</div>
							<div class="cell" data-title="Progress">
								0%
              </div>
              <div class="cell" data-title="Progress">
                <button class="button-success pure-button">Edit Progress</button></div>
              <div class="cell" data-title="Progress">
								<span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              </div>
              
              <div class="cell" data-title="Progress">
                <button class="button-success pure-button">Edit Rating</button></div>
						</div>

            <div class="row">
							<div class="cell" data-title="Training ">
								Html
							</div>
							<div class="cell" data-title="Mentor ">
								sherlock
							</div>
							<div class="cell" data-title="Status">
								Proposal Accepted
							</div>
							<div class="cell" data-title="Progress">
								25%
              </div>
              <div class="cell" data-title="Progress">
                <button class="button-success pure-button">Edit Progress</button></div>
              <div class="cell" data-title="Progress">
								<span class="fa fa-star checked "></span>
                    <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              </div>
              
              <div class="cell" data-title="Progress">
                <button class="button-success pure-button">Edit Rating</button></div>
						</div>

						<div class="row">
							<div class="cell" data-title="Training ">
								FSD
							</div>
							<div class="cell" data-title="Mentor ">
								tony
							</div>
							<div class="cell" data-title="Status">
								Proposal Pending
							</div>
							<div class="cell" data-title="Progress">
								0%
              </div>
              <div class="cell" data-title="Progress">
                <button class="button-success pure-button" style="background-color:Red;color:white;" disabled>Edit Progress</button></div>
              <div class="cell" data-title="Progress">
								<span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              </div>
              
              <div class="cell" data-title="Progress">
                <button class="button-success pure-button" style="background-color:Red;color:white;"  disabled>Edit Rating</button></div>
						</div>

					
						</div>

					</div>
			</div>
		</div>
	</div>


