

<div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Bootstrap Navbar Menu Template</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/mentor-registration']">Sign Up</a></li>
          <li><a [routerLink]="['/skill-signup']">Skill Sign Up</a></li>
          
        </ul>
      </div>
    </div>
  </nav>
  <div class="s003">
    <form>
      <div class="inner-form">
        <div class="input-field first-wrap">
          <div class="input-select">
            <select data-trigger="" name="choices-single-defaul">
              <option placeholder="">Timings</option>
              <option>8:00am to 10:00am</option>
              <option>8:00am to 10:00am</option>
              <option>8:00am to 10:00am</option>
              <option>8:00am to 10:00am</option>
              <option>8:00am to 10:00am</option>
              <option>8:00am to 10:00am</option>
              <option>8:00am to 10:00am</option>
            </select>
          </div>
        </div>
        <div class="input-field second-wrap">
          <input id="search" type="text" placeholder="Enter Keywords?" />
        </div>
        <div class="input-field third-wrap">
          <button class="btn-search" type="button">
            <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
             
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>

     <!--<h1 style="color:white"><b> Welcome ...!!!!!</b></h1>
     <h4 style="color:white">Please check the type of course you want to join . </h4>
     <br/>
    <input type="text" name="search" placeholder="Search">
    <br/><br/><br/><br/>
     <form>
      <div class="container">
<div class="row">
  <div class='col-sm-6'>
    <div class="form-group">
      <div id="filterDate2">
                 
        <div class="input-group date" data-date-format="dd.mm.yyyy">
          <input  type="text" class="form-control" placeholder="dd.mm.yyyy">
          <div class="input-group-addon" >
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
        
      </div>    
    </div>
  </div>

 
<div class='col-sm-6'>
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Courses
<span class="caret"></span></button>
<ul class="dropdown-menu">
  <li><a href="#">C</a></li>
  <li><a href="#">C++</a></li>
  <li><a href="#">J2EE</a></li>
  <li><a href="#">DSA/li></a></li>
  <li><a href="#">Core java</a></li>
  <li><a href="#">Python</a></li>
</ul>
</div>
</div>
</div></div>
<button type="button" class="btn btn-success">Submit</button>
    </form> -->
    </div> 
  


  
